/* xs */
/* @media (min-width: 375px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
/* @media (min-width: 1024px) {

} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1440px) {

} */

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.container {
  /* border: 1px solid red; */
  /* width: 87.204%; */
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.fixed {
  position: fixed;
}

.block {
  display: block;
}

/* xs */
@media (min-width: 375px) {
  .container {
    max-width: 327px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 30.375rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 43.375rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 54.375rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 60.375rem;
  }
}
/* 2xl */
@media (min-width: 1440px) {
  .container {
    max-width: 70.375rem;
  }
}
